.title {
    background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
    background-size: cover;
    height: 10em;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(11, 11, 78);
    vertical-align: middle;
}
h1 span { 
    text-align: center;
    margin-left: 10%;
    box-sizing: inherit;
    font-size: 1em;
    padding-top: 2em;
    display: inline-block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    position: sticky;
    justify-content: space-around;
    display: flex;
    text-align: center;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .main {
    margin-top: 30px;
  }
  .grid2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      text-align: left;
      padding: 2em 2em;
  }
  .boxspace1 {
    margin: 2em 5.2em;
  }
  .boxspace2 {
    margin: 1em 4em;
  }
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    text-align: left;
    padding: 2em 7em 2em 7em;
    line-height: 2em;
}
.boxspace3 {
  padding: 5em 5em 3em 5em;
}
.boxspace4 {
  padding: 3em 8em;
} 
.boxspace5 {
  padding: 0 0 2em 0;
}
.boxspace6 {
  padding: 3em 4em 2em 5.25em;
}
.boxspace7 {
  padding: 3em 5em 3em 5em;
}
  .grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4em;
    text-align: left;
    padding: 0em 5em 3em 7.7em;
}
.grid42 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4em;
  text-align: left;
  padding: 0em 7em 3em 8em;
}
  .font {
    font-feature-settings: "kern","liga","clig","calt";
    font-family: sans-serif;
}
.black{
    background-color: black;
    color: white;
}
.white{
    background-color: white;
    color: black;
}
.white a {
    color: black;
}
.white a:hover {
    color: hotpink;
}
.black a {
    color: white;
  }
  .black a:hover {
    color: hotpink;
  }
  a:hover {
    color: hotpink;
  }
  .grid2 a {
      color: black;
  }
  .grid2 a:hover {
    color: hotpink;
}
  h3 {
      display: block;
  }
  h2 {
      display: block;
  }
.gridTitle {
    border-bottom: 1px solid grey;
    grid-column: 1/3;
}
.gridBoxStyle {
        border: 1px solid grey;
        margin-bottom: 4em;
        text-align: left;
        padding: 1em;
        box-shadow: -3px 3px #000;
}
p {
    line-height: 1.2em;
    margin: 0.3em 0;
  }
  @media screen
  and (max-width: 850px) {
    .grid4 {
      grid-template-columns: 1fr 1fr;
    }
  }  
  @media screen
  and (max-width: 750px) {
    .grid4 {
      grid-template-columns: 1fr;
    }
  }
  @media screen
  and (max-width: 750px) {
    .grid2 {
      grid-template-columns: 1fr;
    }
  }    
  @media screen
  and (max-width: 850px) {
    .grid3 {
      grid-template-columns: 1fr 1fr;
    }
  }    
  @media screen
  and (max-width: 700px) {
    .grid3 {
      grid-template-columns: 1fr;
    }
  }    
  footer a {
    display: block;
    line-height: 2em;
}
.boxspace8 {
  margin-bottom: 2em;
}

.chatButton {
  position: fixed;
  right: 5em;
  bottom: 5em;
  width: 2.5em;
  height: 2.5em;
}
